fichero {background-color:coral;}
ficha {background-color:black; display:block;} 
nombre {color:white; display:inline;} 
apellido {color:yellow; display:inline;}
direccion {color:yellow;font-size:1cm;}
telefono {color:darkmagenta;background-color: chartreuse;}
email {color:darkolivegreen; }
enlace {color: gold; background-color: lightseagreen;}
pais {color:green; background-color: black;}
dui {color: cornflowerblue; background-position: 0in;}
isss {color:greenyellow; background-color: cyan; font-size: 1cm;}
afp {color:darkseagreen; background-color: fuchsia; font-size: 1cm;}